/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 90%;
    background-color: sienna;
    color: yellow;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}